<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Aliens</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1804</property>
        
<!--   Need to create a table in database   using hibernateMapping to data definetion language  -->
        <property name="hibernate.hbm2ddl.auto">create</property>
    </session-factory>
</hibernate-configuration>